* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
}
/* 
.search-bar {
  margin-top: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 0px -5px,
    rgba(0, 0, 0, 0.3) 0px -3px 1px -7px;
  margin-left: 15px;
  width: 70%;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
  background-color: white;
  color: #071952;
} */

/* .search-input {
  border: none;
  padding: 10px 15px;
  outline: none;
  font-size: 1em;
  flex: 1;
  color: #071952;
  background-color: #fff;
} */

/* .icon-filter i {
  color: white;
  font-size: 20px;
  padding: 5px;
  color: #071952;
}

.icon-sort i {
  color: white;
  font-size: 20px;
  padding: 50px;
  color: #071952;
} */

option {
  padding: 10px;
  background-color: #fff;
  color: #333;
  margin: 0px 3px;
  color: #071952;
}

.fa-xmark {
  cursor: pointer;
}

/* add task popup */

.semi-body {
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(8px);
  z-index: 100;
}

.task-card i {
  position: absolute;
  top: 5%;
  right: 1%;
  transform: translate(-50%, -50%);
  font-size: 26px;
}

.task-card {
  position: relative;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.task-card h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 5px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group textarea {
  height: 45px;
  resize: none;
}
textarea:focus {
  outline: none;
}
.form-group input[type="file"] {
  padding: 5px;
}

.task-actions {
  text-align: right;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* font-size: 1em; */
  color: white;
}

@media (max-width: 510px) {
  .task-card {
    width: 90%;
  }

  .task-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0px;
    max-width: 200px;
  }
}

/* end of popups */

/* side nav */

.my-side-nav {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0px 10px 10px 0px;
  padding: 20px 15px;
  width: 20%;
  height: 100vh;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.4s ease;
  backdrop-filter: blur(10px);
}
.my-side-nav i {
  color: #212a3e;
}
.dark-mode .my-side-nav i {
  color: white;
}
.active {
  width: 6%;
  justify-content: center;
  align-items: center;
}

/* top part */

.top {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  /* position: relative; */
  /* border-bottom: 1px solid rgba(179, 179, 179, 0.65); */
  padding-bottom: 20px;
}

.active .top {
  bottom: 6%;
}

.active .side-acc {
  margin-top: 50px;
}

.top .side-acc {
  display: flex;
  justify-content: start;
  gap: 12px;
}

.side-acc a {
  font-size: large;
  color: #212a3e;
  align-items: center;
  display: flex;
  margin-left: 2px;
}

.active .side-acc a {
  display: none;
}
.side-acc a:hover {
  color: rgba(255, 255, 255, 0.813);
}
.top .side-acc p {
  margin: auto 0;
  color: #212a3e;
}

.active .top .side-acc p {
  display: none;
}

.top .user-img {
  height: 50px;
  min-width: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.active .top .user-img {
  height: 40px;
  min-width: 40px;
}

.top .user-img img {
  height: 100%;
  width: 100%;
}

.top i {
  font-size: 20px;
  cursor: pointer;
  color: #212a3e;
  transition: all 0.3s ease;
}

.active .top i {
  position: absolute;
  top: 17%;
  left: 46%;
  transform: translate(-50%, -50%);
  padding: 0;
  font-size: 20px;
  border-radius: 0;
}

/* main part  -----------------------------------------*/

.middle {
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 17px;
  position: relative;
  max-height: 75%;
  /* bottom: 7%; */
}

.side-icons a {
  color: #212a3e;
  display: flex;
  justify-content: start;
  gap: 20px;
  font-size: 20px;
  height: 50px;
  width: 80%;
  transition: all 0.3s ease;
  height: fit-content;
  padding: 11px;
  border-radius: 10px;
  transition: all 0.3s ease;
  text-decoration: none;
}
.side-icons p {
  color: #212a3e;
  font-size: 20px;
  white-space: nowrap;
}

.middle p {
  margin-bottom: 0 !important;
}
.side-nav-main {
  width: 100%;
}

.side-icons {
  position: relative;
}

.side-icons button {
  background: none;
  font-weight: 900;
  margin: auto 0;
  width: fit-content;
  height: fit-content;
  border: none;
  color: #212a3e;
  cursor: pointer;
  padding: 4px 7px;
  border-radius: 50%;
  transition: all 0.3s ease;
}




.side-icons {
  display: flex;
  justify-content: space-between;
  /* gap: 100px; */
}

/* bottom part */

.logout {
  padding-top: 15px;
}

.active .logout {
  position: relative;
  top: 10%;
}

.logout .logout-cont a {
  color: #212a3e;
  display: flex;
  justify-content: start;
  gap: 20px;
  font-size: 25px;
  height: 50px;
  transition: all 0.3s ease;
  width: 90%;
  height: fit-content;
  padding: 11px;
  border-radius: 20px;
  text-decoration: none;
}

.active .logout .logout-cont a {
  width: fit-content;
}

.active .logout .logout-cont a p {
  display: none;
}

.logout .logout-cont a p:hover {
  color: rgb(53, 53, 53);
}

.logout .logout-cont a i {
  margin: auto 0;
  color: #c5705d;
  position: relative;
  z-index: 5;
}

.logout .logout-cont a:hover {
  background: #ffffffbb;
}

/* main page */

/* .front-odd {
  background-color: #9ba4b5;
  min-height: 100vh;
  position: absolute;
  left: 20%;
  width: 80%;
} */

.active-main {
  width: 94%;
  left: 6%;
}

.btn-sm:hover {
  opacity: 0.8;
}

.btn-sm {
  display: none;
}

.fa,
.fa-brands,
.fa-classic,
.fa-regular,
.fa-sharp,
.fa-solid,
.fab,
.far,
.fas {
  line-height: 1.3 !important;
}

p {
  margin: auto;
  /* margin-top: 0;
    margin-bottom: 0; */
}

input:focus {
  outline: none;
}
/* responsive */

@media (max-width: 990px) {
  .btn-lg {
    display: none;
  }
  /* 
  .main-main {
    min-height: 200vh;
  } */

  .active {
    width: 0;
    display: none;
  }

  /* .sidenav {
    width: 0;
    left: -100%;
  } */
  /* 
  .front-odd {
    left: 0;
    width: 100%;
  } */

  .show {
    width: 90%;
    left: 0;
  }

  .btn2show {
    left: 82% !important;
    top: 2% !important;
    color: #ebf4f6 !important;
  }
}
/* ===================================================================================================================== */
/* SIDE BAR */
/* ========================== */
/* end side nav */
.smaller-side {
  width: 6%;
}
.bigger-div {
  width: 93%;
}

.smaller-side p {
  display: none;
}
.smaller-side .fa-plus {
  display: none;
}
.smaller-side .top {
  flex-direction: column;
}
.smaller-side .fa-bars {
  margin-left: 2px;
}
.smaller-side .user-img {
  display: none;
}
.smaller-side .user-name {
  display: none;
}

/* ===================================================================================================== */
/* CHECKBOX FOR THEME   */
/* ======================= */

.theme-checkbox {
  --toggle-size: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, #2a2a2a),
      color-stop(50%, #efefef)
    )
    no-repeat;
  background: -o-linear-gradient(left, #2a2a2a 50%, #efefef 50%) no-repeat;
  background: linear-gradient(to right, #2a2a2a 50%, #efefef 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
  margin-top: 5px;
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, #2a2a2a),
      color-stop(50%, #efefef)
    )
    no-repeat;
  background: -o-linear-gradient(left, #2a2a2a 50%, #efefef 50%) no-repeat;
  background: linear-gradient(to right, #2a2a2a 50%, #efefef 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}
/* ===================================================================================================== */
/* DARK MODE */
/* ======================= */
body {
  background-image: linear-gradient(to top, #f1f6f972, #f1f6f972),
    url(../images/lol.png);
  background-size: cover;
  background-attachment: fixed;
}
body.dark-mode {
  background-color: #343a40;
  background-image: linear-gradient(to top, #212a3e80, #212a3e60),
    url(../images/darkest.png);
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
}

.dark-mode .my-side-nav {
  background-color: #1e2124;
}
.dark-mode .my-side-nav a {
  color: white;
}
.dark-mode .top i {
  color: white;
}
/* ===================================================================================================================== */
/* DARK MODE FOR HOMEE */
/* ========================== */
.dark-mode .my-side-nav p {
  color: white;
}
.dark-mode .main-div {
  background-color: #1e2124;
  border-left: white 4px solid;
}
.dark-mode .main-div p {
  color: #ffffff;
}

.dark-mode .your-name h2 {
  color: #ffffff;
}
/* ===================================================================================================== */
/* SEARCH & SORT & FILTER   */
/* ======================= */
select:focus {
  outline: none;
}
.search {
  border-right: 2px solid #ccc;
  display: inline-block;
  position: relative;
}

.go-button[type="submit"] {
  background-color: #212a3ebe;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.9s ease;
  margin-right: 10px;
}

.go-button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: #1e2124;
}

.forms select {
  background: none;
  color: #071952;
  border: none;
}
/* ===================================================================================================================== */
/* FORMS END */
/* ========================== */
.deletepopup {
  z-index: 100 !important;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 200%;
  backdrop-filter: blur(10px);
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.deletecard {
  padding: 20px;
  border-radius: 10px;
  width: 40%;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  color: #1e2124;
  position: relative;
}

.deletecard h2 {
  padding-bottom: 20%;
  color: #1e2124;
  font-size: 35px;
}
.dark-mode .deletecard {
  background-color: #1e2124;
  color: #f1f6f9;
}
.dark-mode .deletecard h2 {
  color: #f1f6f9;
}
.dark-mode .deletecard .closebtn {
  color: #f1f6f9;
}

.popupconfirm {
  width: 45%;
  height: 45px;
  color: #f2f2f2;
  background-color: #c5705d;
  justify-content: center;
  display: block;
  margin-top: 20px;
  border-style: solid;
  border-radius: 25px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 20px;
  border: none;
}

.popupconfirm:hover {
  background-color: #c5705deb;
  color: white;
}
.closebtn {
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
}
/* ===================================================================================================================== */
/* RESPONSIVE */
/* ========================== */
@media (max-width: 1005px) {
  .my-side-nav {
    display: none;
    width: 55%;
    backdrop-filter: blur(10px);
  }
  .btn-sm {
    /* color: #303030; */
    display: block;
    position: absolute;
    left: 7px;
    top: 9px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 25px;
    z-index: 55;
  }

  .restHome {
    width: 96%;
  }
}
/* ===================================================================================================================== */
/* RESPONSIVE */
/* ========================== */
.dark-mode .all-inputs{
  background-color: #ccc;
}
.dark-mode .search input[type="text"] {
  background-color: #ccc;
}